@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}
a.active {
  color: black;
  background-color: white;
  border-radius: 4px;
}

/* Image gallery paly and full screen button */
button.image-gallery-icon.image-gallery-play-button {
  background-color: #0000005c;
  border-radius: 50px;
  margin-left: 10px;
}

button.image-gallery-icon.image-gallery-fullscreen-button {
  background-color: #0000005c;
  border-radius: 50px;
  margin-right: 10px;
}
